Repository jiangpuLiu/limonergy-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
      "*.{js,ts}": [
        "eslint --fix",
        "prettier --write"
      ],
      "*.{cjs,json}": [
        "prettier --write"
      ],
      "*.{vue,html}": [
        "eslint --fix",
        "prettier --write",
        "stylelint --fix --allow-empty-input"
      ],
      "*.{scss,css}": [
        "stylelint --fix --allow-empty-input",
        "prettier --write"
      ]
}

feat: commit配置代码校验-v0.2
  .eslintcache
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: prettier --write

feat: 修复eslint报错
  packages/components/Alert/Alert.vue
  packages/components/Alert/types.ts
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 更新文档说明
  README.MD
Due: none

feat: 更新.gitignore
  .eslintcache
  .gitignore
  .stylelintcache
Due: none

fix: 修复测试报错
  .gitignore
  libs/vitepress-api-table/index.ts
  libs/vitepress-api-table/package.json
  libs/vitepress-api-table/rollup.config.ts
Due: eslint --fix, prettier --write

fix: 修复测试报错
  .gitignore
Due: none

fix: 修复测试报错
  package.json
  packages/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 修复测试报错-v0.1
  package.json
Due: prettier --write

fix: 修复文档首页跳转路由
  README.MD
  packages/docs/index.md
  packages/docs/markdown-examples.md
  packages/utils/vite.config.ts
Due: eslint --fix, prettier --write

deploy: d43d1c61759eaec4631494c8e6bb271fc7191692
  404.html
  assets/app.BVVCUDm2.js
  assets/app.Kzdws4r0.js
  assets/chunks/theme.DZim15jM.js
  assets/chunks/theme.D_D0gnWX.js
  assets/index.md.Ce6fewWM.js
  assets/index.md.Ce6fewWM.lean.js
  assets/index.md.MYoO922Z.js
  assets/index.md.MYoO922Z.lean.js
  assets/markdown-examples.md.C6Gy3dDS.js
  assets/markdown-examples.md.C6Gy3dDS.lean.js
  assets/tools_index.md.DLL_6frN.js
  assets/tools_index.md.DLL_6frN.lean.js
  assets/tools_object_object.md.BdYXT17X.js
  assets/tools_object_object.md.BdYXT17X.lean.js
  components/button.html
  guide/develop-notes.html
  guide/get-started.html
  hashmap.json
  index.html
  markdown-examples.html
  tools/index.html
  tools/object/object.html
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 测试vxetable加入组件库
  .eslintcache
  package.json
  packages/components/Dialog/Dialog.vue
  packages/components/Dialog/index.ts
  packages/components/Dialog/style.css
  packages/components/Dialog/types.ts
  packages/components/Message/types.ts
  packages/components/VeButton/VeButton.vue
  packages/components/VeButton/index.ts
  packages/components/index.ts
  packages/core/index.ts
  packages/core/package.json
  packages/core/utils/components.ts
  packages/play/src/App.vue
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

deploy: 009d85fa36b97c7e9c8de1a2339bc03ec7e05baf
  404.html
  assets/app.DmNGijFL.js
  assets/app.Kzdws4r0.js
  assets/chunks/framework.A2cjijOS.js
  assets/chunks/framework.BQdjqvUL.js
  assets/chunks/theme.DZim15jM.js
  assets/chunks/theme.DaBCc2m0.js
  assets/components_button.md.B0c2F0cw.js
  assets/components_button.md.B0c2F0cw.lean.js
  assets/components_button.md.CLoItSPe.js
  assets/components_button.md.CLoItSPe.lean.js
  assets/guide_develop-notes.md.B0xsblKo.js
  assets/guide_develop-notes.md.B0xsblKo.lean.js
  assets/guide_get-started.md.CEyVN7y1.js
  assets/guide_get-started.md.CEyVN7y1.lean.js
  assets/index.md.Ce6fewWM.js
  assets/index.md.Ce6fewWM.lean.js
  assets/index.md.PRL-bMdN.js
  assets/index.md.PRL-bMdN.lean.js
  assets/style.BoD0nKhY.css
  assets/style.f3UEsjFz.css
  assets/tools_index.md.Bf0wMLGr.js
  assets/tools_index.md.Bf0wMLGr.lean.js
  assets/tools_object_object.md.Bijp4pST.js
  assets/tools_object_object.md.Bijp4pST.lean.js
  components/button.html
  guide/develop-notes.html
  guide/get-started.html
  hashmap.json
  index.html
  tools/index.html
  tools/object/object.html
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

feat: ignore
  .eslintcache
  .gitignore
  .stylelintcache
Due: none

deploy: ed1fcadc554dae4d458f9b30a7f4d42b319785b5
  404.html
  assets/tools_index.md.Ce5_qKNs.js
  assets/tools_index.md.Ce5_qKNs.lean.js
  assets/tools_object_object.md.D1Xj6kyr.js
  assets/tools_object_object.md.D1Xj6kyr.lean.js
  components/button.html
  guide/develop-notes.html
  guide/get-started.html
  hashmap.json
  index.html
  tools/index.html
  tools/object/object.html
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

feat: vxebutton测试
  packages/components/VeButton/VeButton.vue
  packages/play/src/App.vue
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

deploy: 57991bb3b9b3ee4d43ea918e44818b9542f51c56
  404.html
  assets/app.DmNGijFL.js
  assets/app.k4eEsz7g.js
  assets/chunks/theme.ckXmBuBQ.js
  assets/tools_index.md.ORU--IyK.js
  assets/tools_index.md.ORU--IyK.lean.js
  assets/tools_object_object.md.zmt6STV1.js
  assets/tools_object_object.md.zmt6STV1.lean.js
  components/button.html
  guide/develop-notes.html
  guide/get-started.html
  hashmap.json
  index.html
  tools/index.html
  tools/object/object.html
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

feat: npm私有库
  .eslintcache
  .npmrc
  .release-it.json
  .stylelintcache
  packages/components/VeButton/VeButton.vue
  packages/components/VeButton/index.ts
  packages/components/VeButton/types.ts
  packages/core/build/vite.es.config.ts
  packages/core/index.ts
  packages/core/package.json
  packages/play/src/App.vue
  packages/theme/index.css
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

feat: npm私有库
  .eslintcache
  .stylelintcache
Due: none

feat: npm私有库-v0.1
  .release-it.json
  packages/core/package.json
Due: prettier --write

feat: npm私有库-v0.2
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: npm私有库-v0.3
  packages/core/package.json
Due: prettier --write

Release 1.0.9
  packages/core/package.json
Due: prettier --write
